* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background:rgb(147, 20, 220);
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar.sticky {
    padding: 15px 0;
    background: rgb(147, 20, 220);
}
.navbar .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.navbar .logo  a span{
    color: black;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: black;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: rgb(209, 38, 38);
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
/* menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-btn i.active:before{
    content: "\f00d";
}
/* home section styling*/
.home{
    background: url("image/deuxieme.jpg") no-repeat  ;
    color: rgb(219, 215, 215);
    min-height: 600px;
    object-fit: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 100%;
    
    
}
.home .max-width{
    margin: auto 0 auto 100px;
}
.teams .max-width{
    margin: 100px 0 auto 100px;

}
.home .home-content .text-1{
    font-size: 27px; 
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 55px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(94, 23, 151);
    font-weight: 250;
}
.home .home-content a{
    display: inline-block;
    background: rgb(94, 23, 151);
    color: #fff;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid rgb(94, 23, 151);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/*responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
    
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: rgb(31, 31, 46);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}


/* services section styling */



@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 8px 25px;
    }
    .services .serv-content .card,
    .skills .skills-content .column{
        width: 100%;
    }
    
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
}
section {
    padding: 100px 0;
}
.about, .services, .skills, .teams, .contact, .footer{
    font-family: 'Poppins', sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    bottom: 0px;
    left: 50%;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
   
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    color: rgb(94, 23, 151);
    padding: 5px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content,
.services .serv-content,
 .skills .skills-content,
 .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
height: 350px;
width: 350px;
object-fit: cover;
border-radius: 10px;
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(94, 23, 151);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(94, 23, 151);;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(94, 23, 151);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}


/* services section styling */
.services, .teams{
    color: rgb(64, 5, 133);
    background: rgb(255, 255, 255);
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: rgb(248, 248, 248);
    
}

.services .serv-content .card{
    width: calc(35% - 30px);
    background: rgb(255, 253, 253);
    text-align: center;
    border-radius: 3px;
    padding: 50px 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:  0 20px 20px rgba(255, 253, 253, 0.2), 0px 0px 50px rgba(112, 28, 161, 0.2);;
}
.bar {
    width: calc(105% - 30px);
    background: rgb(255, 253, 253);
    text-align: center;
    border-radius: 3px;
    padding: 50px 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:  0 20px 20px rgba(255, 253, 253, 0.2), 0px 0px 50px rgba(112, 28, 161, 0.2);;

}
/* Carrer1 */
.carrer {
position: absolute;
width: 1303px;
height: 290px;
left: 37px;
top: 2050px;
background: rgb(255, 253, 253);

}
.carrer .rond {
position: absolute;
width: 70px;
height: 70px;
left: 100px;
top: 50px;
background: #921FC8;
border-radius: 50%;
}
.carrer .rond .rond-1{
position: absolute;
width: 41px;
height: 21px;
left: 16px;
top: 26px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #fffdfd;

}
.card-carrer {
    margin: 2px 2px;
    padding: 30px 40px;
    
    background-color: #f8f8f8;
    box-shadow:  0 20px 10px rgba(255, 253, 253, 0.2), 0px 0px 50px rgba(112, 28, 161, 0.2);;

}
.card-carrer1 {
    padding: 30px 40px;
    background-color: #f8f8f8;
    box-shadow:  0 10px 10px rgba(255, 253, 253, 0.2), 0px 0px 30px rgba(112, 28, 161, 0.2);;

}
.card-carrer2 {
    margin: 2px 2px;
    padding: 30px 40px;
    background-color: #f8f8f8;
    box-shadow:  0 10px 10px rgba(255, 253, 253, 0.2), 0px 0px 30px rgba(112, 28, 161, 0.2);;

}
.card-carrer3 {
    margin-left: 1px;
    padding: 30px 40px;
    background-color: #f8f8f8;
    box-shadow:  0 10px 10px rgba(255, 253, 253, 0.2), 0px 0px 30px rgba(112, 28, 161, 0.2);;

}
.carrer .rond .card-carrer{
position: absolute;
width: 338px;
height: 94px;
left: -80px;
top: 113px;
background: #f8f8f8;
}
.carrer .rond .card-carrer .ligne{
    position: absolute;
    width: 334px;
    height: 16px;
    left: 145px;
    top: -86px;
    
    background: #921FC8;
}
.carrer .rond .rond-2-h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ae15c2; 
    }
    

/* Carrer2 */
.carrer .rond1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 460px;
    top: 50px;
    background: #921FC8;
    border-radius: 50%;
    }
    .carrer .rond1 .rond-2{
    position: absolute;
    width: 41px;
    height: 21px;
    left: 17px;
    top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    }
    .carrer .rond1 .card-carrer1{
    position: absolute;
    width: 338px;
    height: 94px;
    left: -80px;
    top: 113px;
    background: #f8f8f8;
    }

    .carrer .rond1 .card-carrer1 .ligne1{
        position: absolute;
        width: 334px;
        height: 16px;
        left: 138px;
        top: -86px;
        background: #921FC8;
    }
    .carrer .rond1 .rond-3-h2{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
       
        color: #ae15c2; 
        }
        
    /* carrrer 3 */
    .carrer .rond2 {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 800px;
        top: 50px;
        background: #921FC8;
        border-radius: 50%;
        }
        .carrer .rond2 .rond-3{
        position: absolute;
        width: 41px;
        height: 21px;
        left: 17px;
        top: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #ffffff;
        
        }
    
        .carrer .rond2 .card-carrer2{
        position: absolute;
        width: 338px;
        height: 94px;
        left: -80px;
        top: 113px;
        background: #f8f8f8;
        }
        .carrer .rond2 .card-carrer2 .ligne2{
            position: absolute;
            width: 300px;
            height: 16px;
            left: 145px;
            top: -86px;
            background: #921FC8;
        }
        .carrer .rond2 .rond-4-h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
           
            color: #ae15c2; 
            }
            
    /* Carrer 4 */
    .carrer .rond3 {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 1100px;
        top: 50px;
        background: #921FC8;
        border-radius: 50%;
        }
        .carrer .rond3 .rond-4{
        position: absolute;
        width: 41px;
        height: 21px;
        left: 17px;
        top: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #f8f8f8;
        
        }
        .carrer .rond3 .card-carrer3{
        position: absolute;
        width: 338px;
        height: 94px;
        left: -80px;
        top: 113px;
        background: #f8f8f8;
        }
        .carrer .rond3 .rond-5-h4{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
           
            color: #ae15c2; 
            }
            
       

.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: rgb(238, 234, 234);
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(94, 23, 151);
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(94, 23, 151);
}
.skills .skills-content .right .bars{
    margin-bottom: 17px;
}
.skills .skills-content .right .info{
    justify-content: space-between;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.skills .skills-content .right .line{
    height: 7px;
    background-color: rgb(31, 41, 44);
    width: 90%;
    position: relative;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(94, 23, 151);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
 color: crimson;
 background: none;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(94, 23, 151);
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills-content .right .react::before{
    width: 55%;
}
.skills-content .right .node::before{
    width: 65%;
}
.skills-content .right .express::before{
    width: 60%;
}

/* teams section styling */

.teams .carousel .card{
    width: calc(93% - 7px);
    background: rgb(255, 251, 251);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: rgb(255, 255, 255);
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson!important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .row{
 margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    margin-left: 24px;
    color: rgb(94, 23, 151);
}
.contact .contact-content .info .head{
    font-weight: 600;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{ 
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button {
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 50%;
    height: 80%;
    color: #fff;
    background-color: rgb(94, 23, 151);
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}
/* footer section styling */
footer{
    background: #111;
    color: #fff;
    padding: 20px 23px;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
    
}
footer span a:hover{
    text-decoration: underline;
}

